<div class="about">
  <div style="height: 12em;">
    <p class="first">
      I am happy to say I am now taking clients! I just recently relocated from Duluth, MN where growing up I found a passion for photography in the Minnesota wildlife and the beauty of the Great Lakes. I feel the same way about Oregon and I'm excited to get to work in such a beautiful place with such great people. Please contact me if you, a friend, or someone in your family need graduation, event, pet or landscape photos.
    <p class="second" style="margin-top: 2em;">Thank you and I hope you enjoy the pictures!
  </div>
</div>
<script>
$(function(){
  $('.second').delay(1500).fadeIn(3000);
});
</script>
